<?xml version="1.0" encoding="UTF-8"?>
<config>
    <projects>
        <project>C:/Users/lock_R/Desktop/VTM_DIAGRAM/kumarov'eb.jdtp</project>
        <project>C:/Users/lock_R/Desktop/VTM_DIAGRAM/MyProject.jdtp</project>
        <project>E:/pochtigotovomt6.jdt</project>
        <project>C:/Users/lock_R/Downloads/MyProject1.jdtp</project>
        <project>C:/Users/lock_R/Desktop/VTM_DIAGRAM/29zadanie .jdtp</project>
        <project>C:/Users/lock_R/Desktop/VTM_DIAGRAM/zadanie dis.jdtp</project>
        <project>C:/Users/lock_R/Desktop/VTM_DIAGRAM/29zadanie — .jdtp</project>
        <project>C:/Users/lock_R/Desktop/VTM_DIAGRAM/29zadanie.jdtp</project>
        <project>C:/Users/evgen/Desktop/Диаграммер/bebra.jdtp</project>
        <project>C:/Users/evgen/Desktop/Диаграммер/000000.jdtp</project>
    </projects>
</config>
